<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <form method="POST" action="/form">
            <input name="str"/>
            <input type="submit" value="submit">
        </form>
    </body>
</html>