<html>
    <head>
        <style>
            .body{
                background-color: lightskyblue;
                text-align: center;
            }
        </style>
    </head>
    <body class="body">
        <div>
            <h1>Reverse String is : <%= reversedString %></h1>
        </div>
    </body>
</html>